*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.dancing-script {
  font-family: "Dancing Script", cursive;
}

#cabeçalho-top{
    height: 50px;
    width: auto;
    background-color: pink;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#titulo-top{
    color: white;
    text-shadow: 1px 1px 6px palevioletred;
    font-family: "Dancing Script", cursive;
    padding-left: 80px;
}

#titulo-top:hover{
    text-shadow: 1px 1px 6px pink;
}

nav.menu-lateral{
    width: 50px;
    height: 100%;
    background-color: palevioletred;
    padding: 40px 0px 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 3px 0px 0px rgb(180, 88, 119);
    transition: .3s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background-color: rgb(211, 158, 176);
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    margin-left: 15px;
}

#container-main{
    height: 520px;
    width: auto;
    background-color: #faeafb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.bloco-main{
    height: 300px;
    width: 300px;
    background-color: #faeafb;
    display: flex;
}

.bloco-img{
    height: 300px;
    width: 300px;
    transition: transform .2s ease;
    border-radius: 20px;
}

.bloco-img:hover{
    transform: scale(1.05);
}

#rodape-footer{
    height: 60px;
    width: auto;
    background-color: rgb(230, 165, 176);
}